body {
    background: url('wall.jpg');
    background-size: cover;
    background-position: ;
}

.check{
    position: absolute;
    top: 2,5%;
    left: 25%;
    width: 50%;
    height: 10%;
    text-align: center;
    background-color: black;
    opacity: 0.625;
    color: white;
    border-radius: 25px;
    font-family: Courier;
    font-size: 20px;
    padding: 0px 25px 0px 25px;
    border-color: white;
}

.maincontainer{
    position: absolute;
    left: 10%;
    top: 15%;
    border-color: white;
    border-radius: 12px;
    width: 80%;
    height: 85%;
    text-align: center;
    background-color: black;
    opacity: 0.625;
    background-size:cover;
    background-position:center;
    color: white;
    font-family: Courier;
    font-size: 20px;
    padding: 25px 25px 25px 25px;
}

.secondcontainer{
    position: absolute;
    left: 25%;
    top: 15%;
    border-color: white;
    border-radius: 12px;
    width: 50%;
    height: 25%;
    text-align: center;
    background-color: black;
    opacity: 0.625;
    background-size:cover;
    background-position:center;
    color: white;
    font-family: Courier;
    font-size: 20px;
    padding: 25px 25px 25px 25px;
}

.geg{
    text-align: left;
}

a:link, a:visited {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 75%;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}


a:hover, a:active {
    background-color: grey;
}

